@import 'src/styles/vars';


@keyframes appear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.ui.container.welcomeMessage{
  animation-duration: 0.3s;
  animation-name: appear;
  animation-timing-function: ease-in-out;
  font-family: $cabin!important;
  padding: 40px 20px;
}
h3.ui.header {
  color: #fff;
  display: block;
  font-size: 1.3em;
}
p {
  font-size: 1.1em;
}
