@import "../../../styles/vars";

#headerDesktop,
#headerMobile {
  background-color: transparent;
  box-shadow: none;
  border: none;
  flex-wrap: wrap;
  font-family: $livvic;
  justify-content: space-around;
  margin: 0;
}
#headerDesktop {
  display: none;
}
#headerMobile {
  border-radius: 0;
  margin-bottom: 1em;
  padding: 0.4em;
  display: flex;
  align-items: center;
  &.up {
    animation-duration: 0.3s;
    animation-name: opacity0to1;
    animation-timing-function: ease-in-out;
    left: 0;
    top: 0;
    position: sticky;
    z-index: 1;
    &.bg2 {
      background-image: linear-gradient(to bottom, $bg1, $bg2);
    }
    &.bg3 {
      background-image: linear-gradient(to bottom, $bg1, $bg2, $bg3);
    }
    &.bg4 {
      background-image: linear-gradient(to bottom, $bg1, $bg2, $bg3, $bg4);
    }
    &.bg5 {
      background-image: linear-gradient(
        to bottom,
        $bg1,
        $bg2,
        $bg3,
        $bg4,
        $bg5
      );
    }
    &.bg6 {
      background-image: linear-gradient(
        to bottom,
        $bg1,
        $bg2,
        $bg3,
        $bg4,
        $bg5,
        $bg6
      );
    }
    &.bg7 {
      background-image: linear-gradient(
        to bottom,
        $bg1,
        $bg2,
        $bg3,
        $bg4,
        $bg5,
        $bg6,
        $bg7
      );
    }
    &.bg8 {
      background-image: linear-gradient(
        to bottom,
        $bg1,
        $bg2,
        $bg3,
        $bg4,
        $bg5,
        $bg6,
        $bg7,
        $bg8
      );
    }
    &.bg9 {
      background-image: linear-gradient(
        to bottom,
        $bg1,
        $bg2,
        $bg3,
        $bg4,
        $bg5,
        $bg6,
        $bg7,
        $bg8,
        $bg9
      );
    }
  }
  & > #mobileItem {
    padding: 0;
    width: 4.5em;
    &::before {
      display: none;
    }
  }
  & > #rightPartHeader {
    align-items: center;
    color: $yellow4;
    & > #burgerMenu {
      & > .bars.icon {
        font-size: 1.8em;
      }
      & > #menuContent {
        background-color: rgba(72, 7, 115, 0.75);
        background-image: $background-color-dashboard;
        border: 1px solid $yellow4;
        right: 2.2em;
        top: -0.8em;
        &::after {
          background-color: $yellow4;
          clip-path: polygon(0 0, 0 100%, 100% 50%);
          height: 2em;
          right: -0.8em;
          top: 0.3em;
          transform: none;
          width: 0.7em;
        }
        & > .burgerListItem {
          color: white !important;
          border: none;
          &.active {
            background-color: #f4d236 !important;
            color: black !important;
            font-weight: normal !important;
          }
        }
        & > #disconnect {
          border-radius: 0;
          margin-top: 1em;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #headerMobile {
    display: none;
  }
  #headerDesktop {
    display: flex;
    height: $headerHeight768;
    margin: 0;
    & > #leftPartHeader {
      height: 100%;
      & > #desktopItem {
        height: 100%;
        & > #desktopLogo {
          & > img {
            height: 100%;
            max-width: none;
          }
        }
      }
    }
    & > .navbarItem {
      color: white;
      font-size: 1.1em;
      text-transform: uppercase;
      &.active {
        color: $yellow4;
      }
    }
  }
}

@media (min-width: 1024px) {
  #headerDesktop {
    height: $headerHeight1024;
    padding: 1em 1em 0;
    & > #leftPartHeader {
      & > #desktopItem {
        padding: 0;
        & > #desktopLogo {
          width: 7em;
        }
      }
    }
  }
}
