@import 'src/styles/vars';

.ui {
  &.inverted.segment.dashboard-feeling {
    background: transparent;
  }
}
h4.ui.header.subtitle-feeling {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-family: $cabin;
  font-size: 1.2em;
  color: #fff;
  text-shadow: 1px 1px 2px #00bb9d;
}

.ui.form{
  &.gender {
  display: flex;
  justify-content: center;
  padding: 15px;
  }
}

.ui.form.field {
    margin: 0;
} 
.ui.form.choixProfil {
  display: flex;
  justify-content: center;
}
.ui.radio.checkbox {
  margin-right: 15px;
  &.choice {
    font-size: 1.2em;
  }
} 
p {
  font-style: italic;
}
.ui.compact.listMyFeeling.menu{
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    &>.selection.dropdown {
      margin-right: 15px;
    }
}

