@import 'src/styles/vars';

@keyframes appear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.ui.container.workoutContainer {
  animation-name: appear;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  padding: 0.5em;
  margin: 0 !important;
  &>.ui.segment.buttonSegment{
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &>.ui.button{
      padding: 0.5em;
      margin: 0.2em;
      font-size: 0.8em;
      background-color: #fff;
      &:hover{
        background-color: rgb(43, 42, 42);
      }
      &:focus{
        background-color: #fff;
        color: rgba(0, 0, 0, 0.6);
      }
      &.iconFocus{
        background-color: rgb(43, 42, 42);
      }
      &.courseFocus, &.salleFocus, &.maisonFocus{
        background-color: rgb(43, 42, 42);
        color: $pink5;
        &:focus{
          background-color: rgb(43, 42, 42);
          color: $pink5;
        }
      }
      &.debutantFocus{
        background-color: rgb(43, 42, 42);
        color: $green5;
        &:focus{
          background-color: rgb(43, 42, 42);
          color: $green5;
        }
      }
      &.interFocus{
        background-color: rgb(43, 42, 42);
        color: $yellow1;
        &:focus{
          background-color: rgb(43, 42, 42);
          color: $yellow1;
        }
      }
      &.confirmeFocus{
        background-color: rgb(43, 42, 42);
        color: $pink1;
        &:focus{
          background-color: rgb(43, 42, 42);
          color: $pink1;
        }
      }
      &.cancelButton{
        background-image: $workout-color;
        border: 1px solid transparent;
        color: rgba(0, 0, 0, 0.6);
        &:hover{
            background: transparent;
            border: 1px solid $pink2;
            color: $pink2;
        }
      }
    }
  }
  &>.ui.container.trainingContainer{
    margin: 0 !important;
    &>.accordion.ui.fluid.styled.wodAccordion{
      background-color: transparent;
      box-shadow: none;
      &>.title.accordionTitle{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top: 0.1em solid $pink5;
        &>i.dropdown.icon {
          color: $pink3;
          font-size: 1.5em;
        }
        &>.header.accordionHeader{
          color: white;
          display: block;
          font-family: $cabin;
          font-size: 0.9em;
          padding: 0 1em;
        }
      }
      &>.content.accordionContent{
        padding: 0;
        &>.ui.container.accordionContainer{
          margin: 0.5em 0 !important;
          &>.image.imageWod>img{
            width: 10em;
          }
          &>.contentWod>p{
            color: white;
            font-size : 0.8em;
            &>a{
              color: white;
            font-size : 0.8em;
            }
          }
          
        }
      }
    }
  }
}



// .accordion.ui.fluid.styled.wodAccordion {
//   background-color: transparent;
//   box-shadow: none;
//   &> .content p {
//     color: white;
//     font-size : 1em;
//   }
//   &> .content a {
//     color: white;
//     cursor: default;
//   }
// }


// // div.description {
// //   margin: 15px;
// //   font-size: 0.8em;
// //   color: #fff!important;

// //   &>p {
// //     font-size : 1.2em;
// //     &>a:hover {
// //       color: $pink4;
// //     }
// //   }
// // }
// .header {
//   &.header-workout {
//     display: block;
//     font-family: $cabin;
//     font-size: 1.3em;
//     color: #fff!important;
//     text-shadow: 1px 1px 2px $pink4;
//     padding: 0 1em;
//   }
// }
// .image.type-img{
//   margin-top: 0.2em;
//   &>img {
//       width: 170px;
//   }
// }

// .ui.container.contentContainer{
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   color: white;
// }


// .contentWod{
//   margin-left: 1em;
//   &>a{
//     color: white;
//   }
// }