@import 'src/styles/vars';

@keyframes appear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.ui.container.workoutContainer {
  animation-duration: 0.3s;
  animation-name: appear;
  animation-timing-function: ease-in-out;
  margin: 0 !important;
  padding: 0.5em;
  &>.ui.segment.buttonSegment{
    background-color: transparent;
    box-shadow: none;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto 0.5em;
    max-width: 21em;
    padding: 0;
    &>.ui.button{
      background-color: #fff;
      border: 1px solid transparent;
      color: rgba(0, 0, 0, 0.6);
      font-size: 0.7em;
      margin: 0.2em;
      padding: 0.4em;
      &:focus, &:hover{
        background-color: #fff;
        border: 1px solid transparent;
        color: rgba(0, 0, 0, 0.6);
      }
      &.selected{
        background-color: rgb(43, 42, 42);
      }
      &.courseSelected, &.salleSelected, &.maisonSelected{
        color: $pink5;
        &:focus{
          color: $pink5;
        }
      }
      &.debutantSelected{
        color: $green5;
        &:focus{
          color: $green5;
        }
      }
      &.interSelected{
        color: $yellow1;
        &:focus{
          color: $yellow1;
        }
      }
      &.confirmeSelected{
        color: $pink1;
        &:focus{
          color: $pink1;
        }
      }
      &.cancelButton{
        background-image: $workout-color;
        color: rgba(0, 0, 0, 0.6);
        &:hover{
          background-image: $workout-color;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
  &>.ui.container.trainingContainer{
    margin: 0 !important;
    &>.accordion.ui.fluid.styled.wodAccordion{
      background-color: transparent;
      box-shadow: none;
      &>.title.accordionTitle{
        align-items: center;
        border-top: 0.1em solid $pink5;
        display: flex;
        flex-direction: row;
        &>i.dropdown.icon {
          color: $pink3;
          font-size: 1.5em;
        }
        &>.header.accordionHeader{
          color: white;
          display: block;
          font-family: $cabin;
          font-size: 0.9em;
          padding: 0 1em;
        }
      }
      &>.content.accordionContent{
        padding: 0;
        &>.ui.container.accordionContainer{
          margin: 0.5em 0 !important;
          &>.image.imageWod>img{
            width: 10em;
          }
          &>.contentWod{
            margin-bottom: 1em;
            &>p{
              color: white;
              font-size : 0.8em;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px){
  .ui.container.workoutContainer{
    &>.ui.segment.buttonSegment{
      margin: 0 auto 0.8em;
      &>.ui.button{
        font-size: 0.8em;
        margin: 0.2em;
        padding: 0.5em;
        &:hover{
          background-color: rgb(43, 42, 42);
          color: #fff;
        }
        &.cancelButton{
          &:hover{
              background: transparent;
              border: 1px solid $pink2;
              color: $pink2;
          }
        }
      }
    }
    &>.ui.container.trainingContainer{
      &>.accordion.ui.fluid.styled.wodAccordion{
        &>.title.accordionTitle{
          clear: left;
          &>.header.accordionHeader{
            font-size: 1.1em;
          }
        }
        &>.content.accordionContent{
          min-height: 8em;
          &>.ui.container.accordionContainer{
            display: flex;
            flex-direction: row;
            &>.image.imageWod{
              float: left;
              margin-right: 1em;
              width: 10em;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px){
  .ui.container.workoutContainer{
    &>.ui.segment.buttonSegment{
      max-width: 26em;
      &>.ui.button{
        font-size: 0.9em;
        margin: 0.3em;
        padding: 0.6em;
      }
    }
  }
}
