@import 'src/styles/vars';

.ui.equal.width.grid.mealGrid{
  margin: 0;
  padding: 0;
  &>.row.bothRow.rowMeals {
    flex-direction: column;
    margin-bottom: 1em;
    padding: 0 0 1em;
    &>.column.tricol{
      align-items: center;
      border-bottom: 1px solid $blue5;
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      padding: 0 0 2em;
      width: 100%;
      &>.ui.segment.cssSegment{
        align-items: center;
        background-color: transparent;
        border: none;
        box-shadow: none;
        display: flex;
        flex-direction: row;
        margin: 0 auto 0.8em;
        max-width: 20em;
        padding: 0;
        &>.ui.header{
          color: $blue5;
          font-size: 0.9em;
          height: unset;
          margin: 0 2em 0 0;
          padding: 0;
          text-transform: uppercase;
          vertical-align: middle;
        }
        &>.ui.toggle.checkbox.cheat{
          &>input{
            &:checked ~ label:after, :checked ~ .box:after{
              left: 1em;
            }
            &:checked + label{
              color: $pink5 !important;
              &::before{
                background-color: $pink5 !important;
              }
            }
            &+label{
              color: white;
              font-style: italic;
            }
          }
          &>label{
            padding: 0 0 0 2.5em;
            &::before{
              height: 1em;
              width: 2em;
            }
            &::after{
              height: 1em;
              width: 1em;
            }
          }
        }
      }
      &>.ui.form.cssForm{
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: max-content;
        &>.fields.cssField{
          border-bottom: 1px dotted $pink4;
          height: max-content;
          margin: 0 0 0.5em;
          width: max-content;
          &>.label.cssLabel{
            align-self: center;
            background-color: transparent;
            color: white;
            font-size: 0.9em;
            height: max-content;
            margin: 0 1em 0 0;
            padding: 0;
          }
          &>.ui.selection.visible.dropdown > .text:not(.default){
            color: $green2;
          }
          &>.ui.selection.dropdown{
            align-items: center;
            background-color: transparent;
            border: none;
            color: white;
            display: flex;
            flex-direction: row;
            height: max-content;
            line-height: unset;
            min-height: 1.8em;
            padding:  0;
            width: max-content;
            &>.text{
              color: white;
              font-size: 0.9em;
              height: max-content;
              margin: 0 0.7em 0 0;
            }
            &>.dropdown.icon{
              float: none;
              left: 0;
              margin: 0;
              padding: 0;
              position: static;
              top: 0;
            }
            &>.menu.transition{
              left: unset;
              max-width: unset;
              min-width: unset;;
              right: 0;
              width: 8em;

              &::-webkit-scrollbar{
                width: 5px;
                &-track{
                  background-color: transparent;
                  border-radius: 2.5px;
                }
                &-thumb{
                  background-image: $goals-color;
                  &:hover{
                      background-image: $goals-color;
                  }
                }
              }
              &>.selected.item{
                color: $green2;
              }
            }
          }
        }
        &>.fruit{
          font-size: 0.9em;
          font-weight: bold;
          margin-bottom: 1em;
          text-align: right;
        }
      }
      &>.messagecheat{
        font-size: 0.8em;
        margin: auto;
        max-width: 25em;
        text-align: center;
      }
    }
  }
  &>.row.bothRow.rowSnack{
    flex-direction: column;
    padding-top: 0;
    &>.column{
      width: 100%;
      &>.snackSegment{
        align-items: center;
        background-color: transparent;
        border: none;
        box-shadow: none;
        flex-direction: row;
        display: flex;
        margin: 0 auto 0.8em;
        max-width: 20em;
        padding: 0;
        &>h4.ui.header {
          color: $yellow3;
          font-size: 0.9em;
          height: unset;
          margin: 0 2em 0 0;
          padding: 0;
          text-transform: uppercase;
          vertical-align: middle;
        }
        &>.ui.toggle.checkbox.cheat{
          &>input{
            &:checked ~ label:after, :checked ~ .box:after{
              left: 1em;
            }
            &:checked + label{
              color: $yellow3 !important;
              &::before{
                background-color: $yellow3 !important;
              }
            }
            &+label{
              color: white;
              font-style: italic;
            }
          }
          &>label{
            padding: 0 0 0 2.5em;
            &::before{
              height: 1em;
              width: 2em;
            }
            &::after{
              height: 1em;
              width: 1em;
            }
          }
        }
      }
    }
    &>.snackColumn {
      display: flex;
      flex-direction: column;
      padding:  0;
      &>.ui.form.cssForm {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        margin:  0 auto;
        width: max-content;
        &>.fields.cssField {
          border-bottom: 1px dotted $pink4;
          height: max-content;
          margin:  0 0 0.5em;
          width:  max-content;
          &>.ui.label.snackLabel {
            align-self: center;
            background-color: transparent;
            color: white;
            font-size: 0.9em;
            height: max-content;
            margin: 0 1em 0 0;
            padding: 0;
          }
          &>.ui.selection.visible.dropdown > .text:not(.default){
            color: $yellow1;
          }
          &>.ui.selection.dropdown {
            align-items: center;
            background-color: transparent;
            border: none;
            color: $yellow1;
            display: flex;
            flex-direction: row;
            height: max-content;
            line-height: unset;
            min-height: 1.8em;
            padding: 0;
            width: max-content;
            &>.text {
              color: white;
              font-size: 0.9em;
              height: max-content;
              margin: 0 0.7em 0 0;
            }
            &>i.dropdown.icon {
                float: none;
                margin: 0;
                padding: 0;
                position: static;
            }
            &>.menu.transition {
                left: unset;
                right: 0;
                width: 8em;
              &::-webkit-scrollbar{
                width: 5px;
                &-track{
                  background-color: transparent;
                  border-radius: 2.5px;
                }
                &-thumb{
                  background-image: $goals-color;
                  &:hover{
                      background-image: $goals-color;
                  }
                }
              }
              &>.selected.item{
                color: $yellow1;
              }
            }
          }
        }
        &>.fruit{
          font-size: 0.9em;
          font-weight: bold;
          margin-bottom: 1em;
          text-align: right;
        }
      }
      &>.snackmessage{
        font-size: 0.8em;
        margin: auto;
        max-width: 25em;
        text-align: center;
      }
    }
  }
}

@media (min-width: 768px){
  .ui.equal.width.grid.mealGrid{
    padding: 1em 0;
  }
}

@media (min-width: 1040px){
  .ui.equal.width.grid.mealGrid{
    &>.row.bothRow.rowMeals{
      border-bottom: 1px solid $blue5;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto 1em;
      padding: 0;
      &>.column.tricol{
        border-bottom: none;
        flex-grow: 0;
        margin-bottom: 0;
        width: 31%;
        &>.ui.segment.cssSegment{
          border-bottom: 2px solid $blue5;
          flex-direction: column;
          margin: 0 auto 2em;
          &>.ui.header{
            margin: 0;
          }
        }
        &>.ui.form.cssForm{
          border-right: 1px solid $blue5;
          &>.fields.cssField{
            margin: 0 0 1em auto;
            padding-right: 0.5em;
          }
          &>.fruit{
            padding-right: 0.5em;
          }
        }
      }
    }
    &>.row.bothRow.rowSnack{
      &>.column{
        &>.snackSegment{
          border-bottom: 2px solid $yellow3;
        }
      }
    }
  }
} 






@keyframes appear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.messagecheat, .snackmessage, form.ui.inverted.form.cssForm{
  animation-name: appear;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}