@import 'src/styles/vars';


.ui.equal.width.grid.mealGrid{
  padding: 10px;
  min-height: fit-content;
  height: 100%;
  margin: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;

}

div.row.bothRow.meals{
  padding: 0;
  height: fit-content;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2em;
}

div.column.tricol{
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;
  align-items: center;
  height: fit-content;
  width: fit-content;
  // max-width: 30%;
  &.bfst, &.lch{
    border-right: 1px solid $blue5;
  }
}

div.ui.segment.cssSegment{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  min-width: fit-content;
  border: transparent;
  height: 5em;
  flex-wrap: wrap;

  &>.toggle.checkbox input:checked + label {
    color:$pink5 !important;
    font-weight: bold;
    &::before{
      background-color: $pink5 !important;
    }
  }

  &>.toggle.checkbox input.hidden + label{
    color: white;
    font-style: italic;
  }
  &::before{
    display: none;
  }
}

h4.ui.header{
  color: white;
  margin: 0;
  padding-right: 2em;
  text-transform: uppercase;
  padding-bottom: 0.7em;
  font-size: 1em;
}

.ui.form{
  width: 100%;
}

form.ui.inverted.form.cssForm{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-end;
  width: 100%;
  min-height: 80%;
}

.ui.form .fields.cssField{
  // max-width: fit-content;
  // min-width: min-content;
  width: 100%;
  align-self: flex-end;
  margin: 1em 0 2em;

}

.ui.label.cssLabel{
  background-color: transparent;
  color: white;
  width: 30%;
  text-align: right;
  padding: 0;
  align-self: center;
  margin-right: 1em;
}

div.row.bothRow.snack{
  height: fit-content;
  border-top: 1px solid $blue5;
  padding: 2em 0 ;
  flex-wrap: wrap;
  min-width: fit-content;
}

.ui.grid > .row > .column.leftsnackColumn{
  width: fit-content ;
  height: 100%;
}

.ui.grid > .row > .column.snackColumn{
  width: 70% ;
  height: 100%;
  display: flex !important;
}

form.ui.inverted.form.snackForm.cssForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ui.segment.snackSegment{
  background-color: transparent;
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &>.header{
    color: white;
    padding-bottom: 0.5em;
  }

  &>.toggle.checkbox input:checked + label {
    color:$yellow4 !important;
    font-weight: bold;
    &::before{
      background-color: $yellow4 !important;
    }
  }

  &>.toggle.checkbox input.hidden + label{
    color: white;
    font-style: italic;
  }
}

.ui.form .fields.snackField{
  margin: 0.5em 0;
  width: 50%;
}

.ui.label.snackLabel {
  background-color: transparent;
  color: white;
  width: 30%;
  text-align: left;
  padding: 0;
  align-self: center;
}

.fruit{
  font-weight: bold;
}

.snackmessage{
  color: white;
  margin: auto;
}

@keyframes appear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.messagecheat, .snackmessage, form.ui.inverted.form.cssForm{
  animation-name: appear;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}


@media (max-width: 1400px) {
  div.row.bothRow.meals{
    
    width: fit-content;
    padding: 0;
    height: fit-content;
    flex-wrap: wrap;
    margin-bottom: 2em;
  }
}
