@import '@/styles/vars';

#disconnect{
    @include submitButton();
    margin: 0;
    width: -webkit-fill-available;
}

// Smartphone
@media (min-width: 767px){
    #disconnect{
        align-self: center;
        width: auto;
    }
}


