//MAIN
$background-color-body: linear-gradient(to bottom, #480773, #3f1e80, #332e8b, #233a95, #00469e, #006eb2, #0091b8, #50b1b9);


//FONTS
$pacifico: 'Pacifico', cursive;
$livvic: 'Livvic', sans-serif;
$cabin: 'Cabin', sans-serif;


//DASHBOARD
$background-color-dashboard: radial-gradient(circle,rgba(43, 43, 61, 0.2), rgba(43, 43, 61, 0.3), rgba(43, 43, 61, 0.4), rgba(43, 43, 61, 0.5), rgba(43, 43, 61, 0.6));
$background-color-tag:linear-gradient(to right, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
$feeling-color:linear-gradient(to bottom, #ff8a00, #fda406, #f9bb1d, #f4d236, #eee851);
$goals-color:linear-gradient(to bottom, #0aa497, #00bb9d, #00d29c, #00e994, #00ff85);
$mealPlan-color:linear-gradient(to bottom, #177bdd, #2d85df, #3f8fe1, #5099e2, #61a3e3);
$workout-color: linear-gradient(to bottom, #ff0022, #ff0059, #ff008b, #ff3cba, #e361e3);

$yellow-color: #f4d236;

