@import '../../styles/vars';

#postPageContainer{
    margin: 1em 0 !important;
    width: 100%; 
    &>#buttonSortSegment{
        background-color: transparent;
        border: none;
        box-shadow: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0.5em auto 0.3em;
        padding: 0;
        &>.button{
            background-color: #fff;
            // font-size: 1em;
            height: 2em;
            padding: 0;
            &.sortIcon{
                width: 2em;
                &> .icon{
                    font-size: 0.8em;
                }
            }
            &.cancelButton{
                background-image: $feeling-color;
                border: 1px solid transparent;
                font-size: 0.8em;
                height: 2.5em;
                margin: 0;
                padding: 0 0.5em;
                &:hover{
                    background-color: transparent;
                    border: 1px solid $yellow5;
                    color: $yellow5;
                }
            }
            &:hover{
                background-color: rgb(43, 42, 42);
            }
            &:focus{
                background-color: #fff;
            }
            &.iconFocus{
                background-color: rgb(43, 42, 42);
            }
            &>i{
                @include buttonPostsBase();
            }
        }
    }
    &>#postsContainer{
        margin: 0 !important;
        &>.accordion{
            &>.title.titleBox{
                align-items: center;
                color:$blue5;
                display: flex;
                flex-direction: row;
                font-size: 0.6em;
                justify-content: space-between;
                padding: 0.5em;
                &>.dropdown.icon{
                    color: $green1;
                }
                &:hover{
                    background-color: #e8e8e8;
                    color:$green1;
                    &>.labelPost{
                        background-color: #fff;
                    }
                }
                &>.titlePost{
                    font-size: 0.8em;
                    justify-self: left;
                    margin: 0 auto 0 0;
                    max-width: 60%;
                }
                &>.labelPost{
                    align-self: center;
                    font-size: 0.5em;
                    height: 100%;
                    min-width: 30% !important;
                    padding: 0.3em;
                    text-align: center;
                    width: 12%;
                    word-break: break-word;
                    &>i.food{
                        color: $green3;
                    }
                    &>.icon{
                        @include buttonPostsBase();
                    }
                }
            }
            &>.content div{
                &>h1, &>h2, &>h3, &>h4{
                    color: black;
                    font-size: 0.6em;
                    margin: 1.5em 0 0.5em;
                }
                &>p{
                    color: black;
                    font-size: 0.5em;
                    line-height: 1.2em
                }
                &>ul{
                    color: black;
                    font-size: 0.5em;
                    &> li{
                        list-style: square;
                        list-style-position: inside;
                        margin: 1em 0 0.5em;
                        padding-left: 2em;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px){
    #postPageContainer{
        height: 100%;
        margin: auto !important;
        width: 20em;
        &> #buttonSortSegment{
            justify-content: flex-end;
            margin: 0 0.5em 0.5em 0;
            padding: 0;
            &>.button{
                height: 2em;
                &.sortIcon{
                    width: 2em;
                    &> .icon{
                        font-size: 0.9em;
                    }
                }
            }
        } 
        &>#postsContainer{
            height: 85%;
            margin: 0 1em;
            overflow-y: scroll;
            &::-webkit-scrollbar{
                &-track{
                    background-image: $feeling-color;
                    border-radius: 5px;
                }
                &-thumb{
                    background: rgba(0, 0, 0, 0.4);
                }
            }
            &> .accordion{
                width: 100%;
                &> .title.titleBox{
                    font-size: 0.7em;
                    &>.titlePost{
                        max-width: none;  
                        width: 80%;
                    }
                    &>.labelPost{
                        font-size: 0.7em;
                        min-width: 18% !important;
                        &>i.food{
                            color: $green3;
                        }
                    }
                }
            }
        }   
    }
}

@media (min-width: 1024px){
    #postPageContainer{
        width: 30em;
        &> #buttonSortSegment{
            margin: 0 1.5em 0.5em 0;
        }
    }
}