@import 'src/styles/vars';

.ui.segment.block.contact{
  margin: 3em 0;
  &>.form.contactForm{
    &>.fields.contactFields{
      margin: 0 0 0.5em 0;
      padding: 0;
      &>.field{
        margin: 0 0.5em;
        padding: 0;
      }
      &.subject, &.message{
        margin: 0.5em 0;
      }
      &>.contactDropdown >i.dropdown.icon{
        color: $yellow1;
        font-size: 1.5em;
        padding:0;
        top: 60%;
      }
      &>textarea.textStyle{
        margin-bottom: 0px;
        margin-top: 0px;
        min-height: 150px;
      }
    }
    &>.header.sibjectHeader{
      margin: 0.5em 0 0.5em;
    }
    &>.contactSubmit{
      margin: 1.5em auto 0.5em;
    }
  }
}



// Tablet
@media (min-width: 768px){
  .ui.segment.block.contact{
    margin: 1em auto;
    max-height: 60%;
    overflow-y: scroll;
    width: 600px;
    &::-webkit-scrollbar{
      &-track{
        background-color: transparent;
        border-radius: 5px;
      }
      &-thumb{
        background-image: $mealPlan-color;
        &:hover{
          background-image: $goals-color;
        }
      }
    }
  }
}

// Laptop
@media (min-width: 1024px){
  .ui.segment.block.contact{
    margin: 2em auto;
    overflow-y: auto;
    width: 700px;
  }
}