@import 'src/styles/vars';

// .img{
//     width:155px;
//     height: 155px;
// }

.header{
    display :flex;
    flex-direction:row;
    padding: 10px 20px 0 20px ;
    justify-content: space-between;    
}


.ui.text.menu.navbar{
    display:flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 200px;
    font-family: $livvic;
    .item.navbar{
        color: white;
        font-size: 1.2em;
        text-transform: uppercase;

    }
}

