@import 'src/styles/vars';

// Segment header (logo + navbar)
.ui.text.menu.navbar, .ui.menu.navbar{
    background-color: transparent;
    box-shadow: none;
    border: none;
    margin: 0;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 25%;
    font-family: $livvic;
}

// Smartphone
@media (max-width: 767px){
    .ui.text.navbarDesktop.menu {
        display: none;
    }
    .ui.navbarMobile.menu{
        &>.item.mobileItem{
            padding:0 ;
            width: 5em;
        }
        &>.right.menu{
            align-items: center;
            color: $yellow5;
            &>.navbarDropdown{
                &>.bars.icon{
                    font-size: 2em;
                }
                &:last-child .menu{
                    right: 2.2em;
                    top: -0.8em;
                }
                &>.navbarContent{
                    border: 2px solid $yellow5;
                    background-color: #2aafbbd5;
                    &::after{
                        background-color: $yellow5;
                        top: 0.3em;
                        right: -0.8em;
                        height: 2em;
                        width: 0.7em;
                        transform: none;
                        clip-path: polygon(0 0, 0 100%, 100% 50%);
                    }
                    &>.item.navbar{
                        color: black !important;
                        &.active{
                            color: white !important;
                            background-color: #480773!important;

                        } 
                    }
                }
            }
        }
    }
    
}

// Tablet
@media (min-width: 768px){
    .ui.navbarMobile.menu {
        display: none;
    }
    .ui.text.navbarDesktop.menu {
        display: flex;
        &>.left.menu {
            &>.item.desktopItem{
                &>.ui.image.desktopLogo{
                    width: 6em;
                }
            }
        }
    }
}

// Laptop ++
@media (min-width: 1024px){
    .ui.text.navbarDesktop.menu{
        &>.left.menu {
            &>.item.desktopItem{
                padding:0 ;
                &>.ui.image.desktopLogo{
                    width: 8em;
                }
            }
        }
    }
}











.ui.text.menu.navbar{
    // display:flex;
    // justify-content: space-around;
    // width: 100%;
    // padding-left: 200px;
    font-family: $livvic;
    .item.navbar{
        color: white;
        font-size: 1.2em;
        text-transform: uppercase;

    }
}

