.ui.segment.usermodal{
  max-width:10%;
  background: none;
  border:none;
  box-shadow: none;
  position: absolute;
  top: 30%;
  left: 5%;
  margin:0;
  text-align: center;

  &>h3{
      // max-width: 30%;
      margin-bottom: 1em;

  }
  
  &>img{
      max-width: 80%;
      margin-bottom: 1em;
      border-radius: 50%;
  }
}

@media (max-width: 1200px) {
    .ui.segment.usermodal{
        top: 1%;
        left: 30%;
        min-width: fit-content;
      
        &>h3{
            display: none;
        }
        
        &>img{
            display: none;
        }
    }
}

@media (max-width: 400px) {
    .ui.segment.usermodal{
        top: 1%;
        right: 1%;
        min-width: fit-content;
      
        &>h3{
            display: none;
        }
        
        &>img{
            display: none;
        }
    }
}
